{{- if .Values.wazuhIndexer.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: indexer-conf
  namespace: {{ include "wazuh.namespace" . }}
  labels:
    {{- include "wazuh.indexer.labels" . | nindent 4 }}
data:
  opensearch.yml: |
    cluster.name: {{ .Values.wazuhIndexer.opensearchConfig.clusterName }}
    network.host: {{ .Values.wazuhIndexer.opensearchConfig.networkHost }}
    node.name: ${NODE_NAME}
    cluster.initial_master_nodes:
      - wazuh-indexer-0
      - wazuh-indexer-1
      - wazuh-indexer-2
    discovery.seed_hosts:
      - wazuh-indexer-0.wazuh-indexer
      - wazuh-indexer-1.wazuh-indexer
      - wazuh-indexer-2.wazuh-indexer
    
    plugins.security.ssl.http.enabled: true
    plugins.security.ssl.http.pemcert_filepath: certs/node.pem
    plugins.security.ssl.http.pemkey_filepath: certs/node-key.pem
    plugins.security.ssl.http.pemtrustedcas_filepath: certs/root-ca.pem
    
    plugins.security.ssl.transport.enabled: true
    plugins.security.ssl.transport.pemcert_filepath: certs/node.pem
    plugins.security.ssl.transport.pemkey_filepath: certs/node-key.pem
    plugins.security.ssl.transport.pemtrustedcas_filepath: certs/root-ca.pem
    plugins.security.ssl.transport.enforce_hostname_verification: false
    
    plugins.security.authcz.admin_dn:
      - "CN=admin,OU=Wazuh,O=Wazuh,L=California,C=US"
    
    plugins.security.check_snapshot_restore_write_privileges: true
    plugins.security.enable_snapshot_restore_privilege: true
    plugins.security.nodes_dn:
      - "CN=wazuh-indexer*,OU=Wazuh,O=Wazuh,L=California,C=US"
    
    plugins.security.restapi.roles_enabled:
      - all_access
      - security_rest_api_access
    
    plugins.security.system_indices.enabled: true
    plugins.security.system_indices.indices:
      - ".opendistro-alerting-config"
      - ".opendistro-alerting-alert*"
      - ".opendistro-anomaly-results*"
      - ".opendistro-anomaly-detector*"
      - ".opendistro-anomaly-checkpoints"
      - ".opendistro-anomaly-detection-state"
      - ".opendistro-reports-*"
      - ".opendistro-notifications-*"
      - ".opendistro-notebooks"
      - ".opensearch-observability"
      - ".opendistro-asynchronous-search-response*"
      - ".replication-metadata-store"
    
    cluster.routing.allocation.disk.threshold_enabled: false
    node.max_local_storage_nodes: 3
    path.data: /var/lib/wazuh-indexer
    path.logs: /var/log/wazuh-indexer
    
    compatibility.override_main_response_version: true

  internal_users.yml: |
    ---
    _meta:
      type: "internalusers"
      config_version: 2

    admin:
      hash: "$2y$12$K/SpwjtB.wOHJ/Nc6GVRDuc1h0rM1DfvziFRNPtk27P.c4yDr9njO"
      reserved: true
      backend_roles:
      - "admin"
      description: "Admin user"

    kibanaserver:
      hash: "$2a$12$4AcgAt3xwOWadA5s5blL6ev39OXDNhmOesEoo33eZtrq2N0YrU3H."
      reserved: true
      description: "Dashboard user"
{{- end }}
